.contacts-widget{
    

    .widget-content{
        display: flex;

        strong{
            font-size: 96px;
            font-weight: 300;
            color: #50b570;
        }

        .contacts-widget-list{
            ul{
                line-height: 25px;
                width: 350px;

                li{

                    span{
                        font-weight: 500;
                        color: #999;
                    }
                }
            }
        }
    }

    .widget-footer{
        position: absolute;
        bottom: 15px;
        right: 15px;
    }
}