body{
    background: #ccc;
    font-family: $font-stack;
    margin: 0;

    .wrapper{
        display: flex;
        height: 100vh;
    }

    .content{
        display: block;
        width: 100%;
        background: $content-bg;
        padding: 0 30px;
    }
}