.container{
    padding: 20px 25px;
    background: $container-bg;
    border-radius: 6px;

    .widgets-container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
        grid-auto-rows: minmax(100px, auto);
    }

    > h5{
        margin: 0 0 20px;
        color: $medium-gray;
        text-transform: uppercase;
    }
}