.left-sidebar{
    width: 200px;
    min-width: 200px;
    display: flex;
    height: 100vh;
    flex-direction: column;
    background: $menu-bg;

    .brand{
        background: $menu-bg-dark;
        padding: 21px 15px 40px 15px;

        img{
            width: 40px;
        }
    }


    ul {
        list-style-type: none;
        padding: 10px 0;
        margin: 0;

        li {
            padding: 0 15px;
            box-sizing: border-box;

            > ul{
                display: none;
            }
            
            a {
                height: 40px;
                padding: 10px;
                text-decoration: none;
                box-sizing: border-box;
                display: flex;
                align-items: center;

                .menu-item-icon{
                    color: #fff;
                    margin-right: 10px;
                }

                span{
                    color: #fff;
                    font-weight: 600;
                    font-size: 14px;
                }
            }

            &:hover{
                background: $menu-item-hover-bg;
            }

            &.active{
                background: $menu-item-active-bg;
                width: calc(100% + 4px);
                border-radius: 0px 4px 4px 0px;

                transition: background-color .2s cubic-bezier(0.165, 0.84, 0.44, 1);

                &.open{
                    background: $menu-item-hover-bg;
                    
                    > ul {
                        display: block;
                        padding-bottom: 10px;

                        > li{
                            padding: 0px;

                            a{
                                margin-left: -15px;
                                margin-right: -15px;
                                padding: 2px 0 2px 25px;
                                line-height: 26px;
                                height: auto;
                                
                                span{
                                    font-size: 13px;
                                }

                                &:hover{
                                    background: $menu-bg;
                                }
                            }
                        }
                    }
                }
            }

        }

        &.products{
            background: $menu-bg-dark;
        }
    }
}