@import './fonts.scss';

body{
    background: #ccc;
    font-family: $font-stack;
    margin: 0;

    .container{
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    .content{
        display: block;
        width: 100%;
    }
}